* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* 
        ==============================
        =       Al Nahian ♥ 2020     =
        ==============================
*/
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+50,9105ff+50,9105ff+50 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 50%,
    #ff3700 50%,
    #ff3700 50%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 50%,
    #ff3700 50%,
    #ff3700 50%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffffff 50%,
    #ff3700 50%,
    #ff3700 50%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9105ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: #fff;
  padding: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.151);
  border-radius: 0.5em;
}

.container h1 {
  color: #ff3700;
  font-weight: bold;
  margin: 0 0 30px;
  padding: 0;
  text-transform: uppercase;
}

.container input {
  outline: none;
  padding: 15px 15px;
  margin-bottom: 30px;
  font-size: 16px;
}

.container textarea {
  height: 80px;
  padding: 10px 15px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
}

.container input,
textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

button {
  background-color: #ff3700;
  font-size: 18px;
  outline: none;
  padding: 15px 30px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 0.5em;
  border: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #cc2c00;
}

.container form div {
  position: relative;
}

.container form div label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  color: #999;
  transition: 0.3s;
}

.container input:focus ~ label,
.container textarea:focus ~ label,
.container input:valid ~ label,
.container textarea:valid ~ label {
  top: -12px;
  left: 0;
  color: #ff3700;
  font-size: 16px;
  font-weight: bold;
}

.container input:focus,
.container textarea:focus,
.container input:valid,
.container textarea:valid {
  border-bottom: 1px solid #ff3700;
}

/* Responsive codes */

@media only screen and (max-width: 720px) {
  .container {
    width: 300px;
    padding: 25px;
  }

  input,
  textarea,
  label {
    font-size: 18px;
  }
}

/* Special Thanks To Online Tutorials - YouTube Channel */
